<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="tests/bootstrap.php">
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="COMPOSER_TEST_SUITE" value="1"/>
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Composer Plugin Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
